<div class="container">

  <span ng-bind="ctrl.node.childQuestion"></span>

  <div ng-repeat="value in ctrl.node.children">

    <div class="row">

    <!--button ng-click="ctrl.getNode(value._id)"-->
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <a ui-sref="tree({nodeid:value._id})">
        <span ng-bind="value.name"></span></a>

    </div>
    <!--/button -->
    <div class="btn-group-sm">
      <button type="button" class="btn btn-group-sm" ng-click="ctrl.editNode(value)">Edit</button>
      <button type="button" class="btn btn-group-sm" ng-click="ctrl.confirmDelete(value)">Delete</button>
    </div>
  </div>
  </div>



  <div class="btn-group">
    <button type="button" class="btn btn-default" ng-click="ctrl.editNode(value, ctrl.node)">Add</button>
  </div>

</div>

